{% extends 'base.html' %}

{% block content %}
<div class="home-hero">
    <div class="container mt-4">
        <div class="hero-content">
            <h1 class="text-white display-4 fw-bold mb-4">Studio Bar</h1>
            
            <div class="mt-4 d-flex align-items-center justify-content-center">
                <a href="{% url 'events' %}" class="btn btn-custom btn-lg">View Events</a>
                {% if not user.is_authenticated %}
                    <div class="button-separator"></div>
                    <a href="{% url 'register' %}" class="btn btn-custom-alt btn-lg">Join Us</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}